* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 65vh;
    align-items: center;
    background-color: bisque;
}

.container {
    background-color: rgb(252, 241, 230);
    padding: 50px;
    align-items: center;
    border-radius: 40px;
}

.title {
    font-size: 3.1rem;
    text-decoration: underline;
    padding: 20px;
}

.container .form{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.form input {
    display: block;
    padding: 30px;
    margin-bottom: 15px;
    width: 640px;
    height: 100px;
    background-color: rgb(234, 222, 208);
    outline: none;
    border: none;
    border-radius: 50px;
    font-size: 30px;
}

.form button {
    margin-top: 35px;
    width: 640px;
    height: 100px;
    background-color: rgb(141, 182, 141);
    outline: none;
    border: none;
    border-radius: 50px;
    font-size: 30px;
    margin-bottom: 50px;
    cursor: pointer;
    color: white;
}

.form input:focus {
    outline: 1px solid gray;
}

.form button:hover {
    background-color: rgb(114, 148, 114);
}
